body{
  background-color: aliceblue;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
.hader{
  text-align: center;
}
.countries{
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 20px;
  justify-content: center;
}
.country{
  background-color: rgb(255, 255, 255);
  display: grid;
  justify-content: center;
  border: 1px solid rgb(220, 232, 241);
  box-shadow: 2px 2px 20px 2px rgb(224, 224, 224);
  padding: 20px 20px;
  letter-spacing: 0.3px;
  border-radius: 5px;
}


/* this is my responsive code  */
@media (min-width: 1200px) and (max-width: 1499px) {
  .countries{
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .countries{
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
  }
}


@media (min-width: 720px) and (max-width: 991px) {
  .countries{
    grid-template-columns: repeat(2, 1fr);
    max-width: 400px;
  }
}

@media (min-width: 220px) and (max-width: 719px) {
  .countries{
    grid-template-columns: repeat(1, 1fr);
    max-width: 400px;
  }
}